* text=auto !eol
XCast/help/images/logo_black.jpg -text
XCast/help/images/logo_blue.jpg -text
XCast/help/index.doc -text
XCast/icon.psd -text
XCast/resources/icon.ico -text
XCast/saxon.jar -text
XCast/swt-awt-win32-3062.dll -text
XCast/swt-awt-win32-3063.dll -text
XCast/swt-win32-3062.dll -text
XCast/swt-win32-3063.dll -text
XCast/workspace/keep.xc -text
